In [10]:
import pandas as pd
import numpy as np

In [11]:
url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=932531537'

In [39]:
# Getting the Data Frame
df = pd.read_html(url, header=None)
df = pd.DataFrame(df[0])
#Drop Not Assigned
df=df[df.Borough != 'Not assigned']
#Sort Values
df = df.sort_values(by=['Postcode','Borough'])

df.reset_index(inplace=True)
df.drop('index',axis=1,inplace=True)
df.head()

  Postcode      Borough    Neighborhood
0      M1B  Scarborough           Rouge
1      M1B  Scarborough         Malvern
2      M1C  Scarborough  Highland Creek
3      M1C  Scarborough      Rouge Hill
4      M1C  Scarborough      Port Union

In [37]:
df.shape

(210, 3)